.portfolio {
    height: 870px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    box-sizing: border-box;
}

.about_us {
    height: 734px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    box-sizing: border-box;
}

.wrapper {
    display: block;
    justify-content: space-between;
    max-width: 1020px;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    padding-left: 40px;
    box-sizing: border-box;
}

h1 {
    padding-top: 63px;
    font-family: Lato;
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    letter-spacing: -0.2px;
}

p {
    padding-top: 27px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
}

.navbar ul {
    display: flex;
    width: 300px;
    margin-left: 0px;
}

.navbar ul li p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: "Lato";
    font-weight: 400;
    border: 1px solid #666d89;
    padding: 0px;
    margin: 0px;
    color: #767e9e;
    border-radius: 5px;
    margin-top: 17px;
    margin-left: -1px;
    margin-right: 0;
    margin-bottom: 3px;
}

p.buttons.b1 {
    margin-left: 0.5px;
    padding: 4px 7px 4px 7.5px;
    width: 13px;
    color: #dedede;
    border-color: #c5c5c5;
}

p.buttons.b2 {
    padding: 4px 6px 4px 6px;
    width: 64px;
    letter-spacing: -0.05px;
    margin-left: 10px;
}

p.buttons.b3 {
    width: 90px;
    margin-left: 10px;
    padding: 4px 1px 4px 0px;
}

p.buttons.b4 {
    width: 50px;
    padding: 4px 2px 4px 3px;
    margin-left: 10px;
}

.buttons:hover {
    color: #dedede;
    border-color: #c5c5c5;
    cursor: pointer;
}

.container {
    display: grid;
    max-height: 617px;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(3, 187px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-top: 16px;
    overflow: hidden;
}

.about_us h1 {
    padding-top: 62px;
}

.about_us p {
    margin-right: 41px;
    padding-top: 21px;
    font-family: "Lato";
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.7em;
    text-align: justify;
    color: #767e9e;
}

.container.photo {
    display: grid;
    grid-template-columns: 300px 302px 302px;
    grid-template-rows: 300px 130px;
    grid-column-gap: 19px;
    grid-row-gap: 17px;
    padding-top: 45px;
}

.scolara {
    margin-left: 0px;
}

h2 {
    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    color: #666d89;
    letter-spacing: -0.2px;
}

p.text.Adam::first-line {
    letter-spacing: -0.06px;
}

p.text {
    padding-top: 10px;
    padding-right: 0;
    margin-right: 0;
    font-family: "Lato";
    font-weight: 400;
    font-size: 12px;
    line-height: 1.75em;
    text-align: left;
    color: #767e9e;
}

p.text.Desmond::first-line {
    letter-spacing: 0.14px;
}

p.text.Scolara::first-line {
    letter-spacing: 0.13px;
}

img.social:first-child {
    margin-right: 4px;
}

img.social {
    margin-top: 24px;
    margin-right: 3px;
    margin-left: 1px;
}

img.social_Visari {
    margin-top: 24px;
    margin-right: 4px;
}

img.social:hover {
    background-color: #c5c5c5;
    border-radius: 50px;
    cursor: pointer;
}

img.social_Visari:hover {
    background-color: #c5c5c5;
    border-radius: 50px;
    cursor: pointer;
}