html {
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  height: 95px;
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
  box-sizing: border-box;
}

.wrapper {
  display: block;
  justify-content: space-between;
  max-width: 1020px;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.wrapper.flex {
  display: flex;
}

.slideshow-container {
  min-width: 980px;
}

.logo {
  margin: 0 0 1px 41px;
  font-size: 25px;
  font-family: "Lato";
  font-weight: 700;
  letter-spacing: -0.6px;
  color: white;
}

span {
  color: #f06c64;
}

.navbar_head {
  width: 370px;
  margin: 10px 40px 0 0;
}

.navbar_head ul {
  display: flex;
  justify-content: space-between;
}

.navbar_head ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 12px;
  font-family: "Lato";
  font-weight: 700;
  letter-spacing: -0.25px;
  text-decoration: none;
  color: white;
}

li.content :before {
  margin-right: 12px;
  content: '\00B7';
  font: 2em sans-serif;
  color: #44495b;
}

.navbar_head ul li a.active {
  color: #f06c64;
}

.navbar_head ul li a:not(.active):hover {
  color: #f06c64;
}

.slider {
  height: 600px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  display: block;
  align-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  transition: 0.5s ease-out;
}

.slider.blue {
  background-color: #648bf0;
  border-bottom: 6px solid #348bf0;
}

.Our_Services {
  height: 500px;
  min-width: 1020px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  box-sizing: border-box;
  align-items: center;
  margin: 0 auto;
}

.iphone1 {
  margin-left: 54px;
  margin-bottom: 3px;
}

.iphone2 {
  margin-bottom: 125px;
  margin-left: 69px;
}

.chev_left {
  height: 27px;
  margin-top: 228px;
  margin-left: 42px;
}

.chev_right {
  height: 27px;
  margin-top: 228px;
  margin-left: 55px;
}

.chev_left:hover {
  background: url(assets/images/chev_left_hover.png);
  cursor: pointer;
}

.chev_right:hover {
  background: url(assets/images/chev_right_hover.png);
  cursor: pointer;
}

.text_grid {
  max-width: 219px;
  max-height: 58px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 1px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8em;
  letter-spacing: 0px;
  text-align: justify;
  color: #767e9e;
  overflow: hidden;
}

.container_services {
  display: grid;
  margin-top: 17px;
  padding-left: 41px;
  grid-template-columns: 79px 240px 79px 240px 81px 239px;
  grid-template-rows: 123px 90px;
}

.service_header {
  font-family: "Lato";
  font-weight: 900;
  font-size: 18px;
  letter-spacing: -0.1px;
  color: #666d89;
}

.additionally {
  margin-left: 1px;
  letter-spacing: -0.1px;
}

.icons {
  margin-top: 2px;
}

.icons.star_heart {
  margin-left: 1px;
}

.portfolio {
  min-width: 1020px;
  height: 869px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  box-sizing: border-box;
}

.about_us {
  min-width: 1020px;
  height: 734px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  box-sizing: border-box;
}

.headings {
  padding-top: 62px;
  padding-left: 40px;
  font-size: 30px;
  font-weight: 900;
  font-family: "Lato";
  color: #666d89;
  letter-spacing: -0.2px;
}

.portfolio_text {
  padding-top: 27px;
  padding-left: 40px;
  font-size: 18px;
  font-weight: 300;
  font-family: "Lato";
  color: #767e9e;
}

.navigation_bar ul {
  display: flex;
  width: 300px;
  padding-left: 40px;
}

.navigation_bar ul li p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato";
  border: 1px solid #666d89;
  margin-top: 17px;
  margin-left: -1px;
  margin-right: 0;
  margin-bottom: 3px;
  border-radius: 5px;
  color: #767e9e;
}

p.buttons.b1 {
  margin-left: 1px;
  padding: 4px 7px 4px 7.5px;
  width: 13px;
}

p.buttons.b2 {
  padding: 4px 6px 4px 6px;
  width: 64px;
  letter-spacing: -0.05px;
  margin-left: 10px;
}

p.buttons.b3 {
  width: 90px;
  margin-left: 10px;
  padding: 4px 1px 4px 0px;
}

p.buttons.b4 {
  width: 50px;
  margin-left: 10px;
  padding: 4px 2px 4px 3px;
}

.buttons:hover {
  color: #dedede;
  border-color: #c5c5c5;
  cursor: pointer;
}

.container_portfolio {
  display: grid;
  max-height: 617px;
  padding-top: 16px;
  padding-left: 40px;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: repeat(3, 187px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  overflow: hidden;
}

.container_photo {
  display: grid;
  padding-top: 17px;
  padding-left: 40px;
  grid-template-columns: 300px repeat(2, 302px);
  grid-template-rows: 300px 130px;
  grid-column-gap: 19px;
  grid-row-gap: 17px;
}

.scolara {
  margin-left: 0px;
}

.Name {
  font-size: 18px;
  font-weight: 900;
  font-family: "Lato";
  letter-spacing: -0.2px;
  color: #666d89;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

p.text.Adam::first-line {
  letter-spacing: -0.06px;
}

p.text {
  margin-right: 0;
  padding-top: 10px;
  padding-right: 0;
  font-weight: 400;
  font-size: 12px;
  font-family: "Lato";
  line-height: 21px;
  text-align: justify;
  color: #767e9e;
}

img.social:first-child {
  margin-right: 4px;
}

img.social {
  margin-top: 24px;
  margin-right: 3px;
  margin-left: 1px;
}

img.social.Visari {
  margin-right: 4px;
  margin-left: 0px;
}

img.social:hover {
  background-color: #c5c5c5;
  border-radius: 50px;
  cursor: pointer;
}

.Get_a_quote {
  min-width: 1020px;
  height: 654px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  box-sizing: border-box;
}

.footer {
  min-width: 1020px;
  height: 76px;
  background-color: #2d303a;
  box-sizing: border-box;
}

.h1_quote {
  color: #f0d8d9;
}

.Fusce_text {
  padding-top: 21px;
  padding-left: 40px;
  padding-right: 39px;
  padding-bottom: 28px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  font-family: Lato;
  color: #767e9e;
  text-align: justify;
}

.Fusce_text.quote {
  color: #f0d8d9;
}

.copyright {
  padding-top: 0px;
  padding-left: 42px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato";
  color: #666d89;
  letter-spacing: -0.12px;
}

.social_footer {
  width: 160px;
  padding-top: 2px;
  padding-right: 33px;
}

img.social_f:hover {
  background-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
}

.social_f {
  margin-right: 3px;
  margin-left: 1px;
}

textarea {
  width: 589px;
  height: 191px;
  margin-top: 16px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  border-style: none;
  background-color: #d6564f;
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato";
  color: #f0d8d9;
  resize: none;
}

textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato";
  color: #f08586;
}

input {
  width: 604px;
  height: 35px;
  margin-top: 16px;
  padding-bottom: 2px;
  padding-left: 15px;
  background-color: #d6564f;
  border-radius: 5px;
  border-style: none;
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato";
  color: #f0d8d9;
}

button {
  width: 100px;
  height: 35px;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 700;
  font-family: Lato;
  color: #f0d8d9;
  letter-spacing: 0.5px;
  background-color: #d6564f;
  border-radius: 5px;
  border-color: #E1523D;
  box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 3px 5px rgba(0, 1, 6, .5), 0 0 1px 1px rgba(0, 1, 6, .2);
  cursor: pointer;
  outline: none;
}

input::placeholder {
  padding-top: 2px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato";
  color: #f08586;
}

form {
  max-width: 622px;
  padding-left: 40px;
}

.heading_contact {
  padding-top: 16px;
  padding-left: 19px;
  font-size: 18px;
  font-weight: 900;
  font-family: "Lato";
  color: #f0d8d9;
  letter-spacing: -0.1px;
}

.information_text {
  padding-top: 10px;
  padding-left: 18px;
  padding-right: 38.7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato";
  text-align: justify;
  color: #f0d8d9;
  letter-spacing: 0px;
  word-spacing: -0.1px;
}

.information_text::first-line {
  text-align: left;
}

.flex_content {
  display: flex;
}

.information {
  width: 360px;
}

.text_location {
  padding-top: 2px;
  padding-left: 2px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato";
  color: #f0d8d9;
  letter-spacing: 0px;
}

.container_information {
  display: grid;
  max-height: 617px;
  padding-left: 16px;
  padding-top: 23px;
  grid-template-columns: 20px 300px;
  grid-template-rows: 19px 18px 25px;
  grid-column-gap: 3.5px;
  grid-row-gap: 1px;
}

.row_3_col_1 {
  padding-top: 4px;
}

.row_3_col_2 {
  padding-top: 3px;
}

.location {
  padding-left: 6px;
}

.contact_number {
  padding-top: 3px;
  padding-left: 4px;
}

.number {
  padding-left: 2px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato";
  color: #f0d8d9;
  text-decoration: none;
}

.mail {
  margin-top: 5px;
  padding-left: 3px;
}

.e_mail {
  padding-left: 2px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Lato";
  color: #f0d8d9;
  text-decoration: none;
}

#message-block {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #0008;
}

#message-block.hidden {
  display: none;
}

#message {
  position: absolute;
  min-width: 510px;
  max-width: 510px;
  padding: 10px 10px;
  background-color: #f06c64;
  top: 30%;
  left: 35%;
  border: 2px solid #d6564f;
  border-radius: 5px;
  text-align: left;
  word-break: break-all;
}

body.hide {
  overflow: hidden;
}

.text-message {
  max-height: 250px;
  padding-right: 10px;
  overflow-y: scroll;
}

.text-message::-webkit-scrollbar {
  width: 0;
}

#message p {
  padding-left: 15px;
  line-height: 30px;
}

span.messages {
  font-size: 17px;
  font-family: "Lato";
  font-weight: 700;
  color: #f0d8d9;
}

.message-block-btn {
  width: 100px;
  height: 30px;
  margin-top: 40px;
  margin-left: 41%;
}

#portfolio-grid div img.active {
  position: absolute;
  outline: #f06c64 solid 5px;
}

#menu-portfolio p.active {
  color: #dedede;
  border-color: #c5c5c5;
}

.offscreen2 {
  position: absolute;
  height: 190px;
  width: 335px;
  margin-top: 134px;
  margin-left: 484px;
  border-radius: 4px;
  background-color: black;
}

.offscreen3 {
  position: absolute;
  display: block;
  width: 202px;
  margin-left: 416px;
  margin-top: 68px;
  height: 356px;
  border-radius: 4px;
  background-color: black;
}

.offscreen1 {
  position: absolute;
  height: 334px;
  width: 190px;
  margin-top: 65px;
  margin-left: 125px;
  border-radius: 4px;
  background-color: black;
}

.slideshow-container {
  display: flex;
  max-width: 1000px;
  margin: 0;
}

.bigger {
  width: 851px;
  height: 489px;
}

.iphones {
  margin-left: 25%;
}

.last-item {
  order: 1;
}

.iphone-button1 {
  position: absolute;
  width: 41px;
  height: 41px;
  margin-top: 408px;
  margin-left: 141px;
  border-radius: 50%;
  cursor: pointer;
}

.iphone-button3 {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-top: 433px;
  margin-left: 436px;
  cursor: pointer;
}

.iphone-button2 {
  position: absolute;
  width: 41px;
  height: 41px;
  margin-top: 207px;
  margin-left: 375px;
  border-radius: 50%;
  cursor: pointer;
}

.anchor {
  position: absolute;
}

.notheader {
  margin-top: -95px;
}

#get-quote {
  margin-top: -225px;
}
